/*styles.css*/
h1 {
  color: #57781F;
  background-color: #8EC9D1;
}
p {
  color: #C7ABD1;
  background-color: #DAEEF5;
}
p1 {
  color: #FF0000;
  background-color: #000000;
}
p2 {
  color: #D5ABD9;
  background-color: #F5F1BA;
}
p3 {
  color: #000000;
}
p4 {
  color: #FF0000;
  background-color: #000000;
}
